.btn {
  margin-top: 10px;
  margin-right: 10px;
}

.alert {
  min-height: 500px;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  margin: 10px;
  padding: 5px;
}
button.user{
  margin-right: 50px;
}

h2.alert{
  color: #282c34;
}
.card-text{
  font-size: 10px;
}